################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/roomo.api/FileContentIndex/90984ebd-357e-4042-b637-8f037d13ec7e.vsidx
